<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="wrapper">
            <div id="logo">
                <img :src="logoImg" alt="">
                <h1>ToDo List</h1>
            </div>
            <ul>
                <li v-for="(item,i) in tasks" :class="(item.done === true) ? 'barred' : ''" :key="i" @click="toggleDone(i)">{{ item.text }} <span @click="removeTodo(i)">X</span></li>
            </ul>
    
            <div id="add_task">
                <input v-model="newItem.text">
                <div id="add_add" @click="addTask">AGGIUNGI</div>
            </div>
        </div>

    </div>
    
    <script src="js/main.js"></script>
</body>
</html>